[submodule "external/gamecapture"]
	path = external/gamecapture
	url = https://github.com/elgatosf/gamecapture.git
[submodule "external/vcpkg"]
	path = external/vcpkg
	url = https://github.com/microsoft/vcpkg.git
